.header{
  height: 10%;
  width: 600px;
  background-color: #E5E5E5;

  display: flex;
  align-items: center;
  position: fixed;
  z-index: 500;
}
.header h1{
  margin:0%;
}
.logo-header{
	text-align: center;
}